---

---

<footer class="mt-12 py-6 text-sm border-t border-black/10 dark:border-white/5">
  <div
    class="max-w-7xl mx-auto px-4 flex flex-col md:flex-row justify-between items-center text-black/80 dark:text-white"
  >
    <div>© 2025 | Segundo Miguel Delgado Ruiz</div>
    <nav class="flex gap-4 mt-3 md:mt-0">
      <a
        class="hover:text-primary"
        href="https://github.com/miguelDR05"
        target="_blank"
        rel="noopener">GitHub</a
      >
      <a
        class="hover:text-primary"
        href="https://www.linkedin.com/in/miguel05dev"
        target="_blank"
        rel="noopener">LinkedIn</a
      >
    </nav>
  </div>
</footer>
