---
import Layout from "@/layouts/Layout.astro";
import Navbar from "@components/layout/Navbar.astro";
import Hero from "@components/sections/Hero.astro";
import About from "@components/sections/About.astro";
import Skills from "@components/sections/Skills.astro";
import Projects from "@components/sections/Projects.astro";
import Contact from "@components/sections/Contact.astro";
import Footer from "@components/layout/Footer.astro";
// Importar datos JSON
import menu from "@/data/menu.json";
import projectsData from "@/data/projects.json";
import skillCategories from "@/data/skills.json";
import type { Project } from "@interfaces/Project";

// Type assertion para que TypeScript acepte el JSON
const projects = projectsData as Project[];
---

<Layout title="Segundo Miguel Delgado Ruiz — Portafolio">
  <header id="main-header">
    <Navbar menu={menu} />
  </header>

  <main>
    <Hero />

    <About />

    <Skills skillCategories={skillCategories} />

    <Projects projects={projects} />

    <Contact />
  </main>

  <Footer />
</Layout>
