---
import TitleSection from "@components/TitleSection.astro";
import ProfileCheck from "@components/icons/ProfileCheck.astro";
import Link from "@components/icons/Link.astro";
---

<section
  id="about-me"
  class="scroll-section px-4 pt-25 md:px-0 w-full mx-auto container lg:max-w-4xl md:max-w-2xl"
>
  <div
    class="flex flex-col items-center justify-center gap-4 lg:gap-8 text-gray-700 dark:text-gray-300 lg:flex-row"
  >
    <div class="text-left lg:basis-3/5 lg:min-w-0">
      <TitleSection>
        <ProfileCheck class="size-8"/>
        Sobre mí
      </TitleSection>
      <div
        class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
      >
        <p>
          ¡Hola! 👋 Soy <strong>Segundo Miguel Delgado Ruiz</strong>, un
          Desarrollador Full-Stack de 23 años basado en Chiclayo, Perú.
        </p>
        <p>
          Me apasiona diseñar y construir productos digitales que resuelvan
          problemas reales, combinando estética, eficiencia y escalabilidad. <strong
            >Con más de 3 años de experiencia en el sector empresarial
          </strong>, he participado en el desarrollo de soluciones web y
          móviles.
        </p>
        <p>
          Formación: Ingeniería de Software (SENATI) y actualmente estudiando
          Ingeniería de Sistemas (UTP).
        </p>
        <p>
          Fuera del código: dibujo, fútbol, videojuegos y caminatas al aire
          libre.
        </p>
      </div>
    </div>
    <div class="flex flex-col gap-4 lg:basis-3/5 lg:grow">
      <aside class="p-6 rounded-lg bg-black/3 dark:bg-white/3">
        <ul class="list-none p-0 m-0 mb-3">
          <li class="pb-2"><strong>Edad:</strong> 23</li>
          <li class="pb-2">
            <strong>Idiomas:</strong> Español (Nativo), Inglés (Técnico)
          </li>
          <li class="pb-2"><strong>Ubicación:</strong> Chiclayo, Perú</li>
          <li class="pb-2"><strong>Rol:</strong> Front-End Developer</li>
          <li class="pb-2">
            <strong>Rol Secundario:</strong> Analista de Sistemas
          </li>
        </ul>

        <h3 class="pb-2"><strong>Aptitudes</strong></h3>
        <ul class="flex flex-wrap gap-2 p-0 m-0 mb-2.5 list-none">
          <li class="py-1 px-2 rounded-lg bg-black/3 dark:bg-white/3">
            Liderazgo
          </li>
          <li class="py-1 px-2 rounded-lg bg-black/3 dark:bg-white/3">
            Trabajo en Equipo
          </li>
          <li class="py-1 px-2 rounded-lg bg-black/3 dark:bg-white/3">
            Autoconfianza
          </li>
          <li class="py-1 px-2 rounded-lg bg-black/3:bg-white/3">
            Escucha Activa
          </li>
          <li class="py-1 px-2 rounded-lg bg-black/3 dark:bg-white/3">
            Resolución de Problemas
          </li>
          <li class="py-1 px-2 rounded-lg bg-black/3 dark:bg-white/3">
            Curiosidad Técnica
          </li>
        </ul>

        <a href="/CV.pdf" download>
          <button
            type="button"
            class="text-gray-800 dark:text-white bg-(--accent)rhover:bg-(--accent)/90s:ring-4 focus:outline-none focus:ring-(--accent)/50 box-border border border-transparent font-medium leading-5 rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:focus:ring-(--accent)/55"
          >
            <Link />

            Descargar mi CV (PDF)
          </button></a
        >
      </aside>
    </div>
  </div>
</section>
